<div class="jumbotron">
  <!-- tresć | komunikat -->
  <h1>To jak z tym GAUS'em do chuja?</h1>
  <p>Na rowerku zapierdalasz a czasu coraz mniej....</p>
 
  <!-- buttons -->
  <%= link_to 'Strona główna', root_path, class: 'btn btn-default' %>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-danger btn-lg' %>
</div> 
 <f>pomusz panie....</f>
