<div class="jumbotron">
  <!-- tresć | komunikat -->
  <h1>To jest nowy serwis Obrazkowo</h1>
  <p>na konkrety trzeba jeszcze chwilkę poczekać...</p>
 
  <!-- buttons -->
  <%= link_to 'Strona główna', root_path, class: 'btn btn-default' %>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-danger btn-lg' %>
</div> 
 <f>dodatkowy tekst...</f>
