<div class="jumbotron">
  <!-- tresć | komunikat -->
  <h1>Witaj w mojej aplikacji</h1>
  <p>Niebawem bedzie tutaj wypas</p>
 
  <!-- buttons -->
  <%= link_to 'Strona główna', root_path, class: 'btn btn-default' %>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-danger btn-lg' %>
</div> 
 <f>Sranie w banie!, dupa Jaś Panie Kierowniku...</f>
